@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

@media only screen and (min-width: 768px) {
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media only screen and (min-height: 500px) {
  .applybox {
    position: absolute;
    bottom: 100px;
  }
  .cap {
    padding-top:10rem;
    align-self: center;
  }
  .main {
    position: absolute;
    top: 170px;
  }  
}

@media only screen and (max-height: 500px) {
  .applybox {
    position: absolute;
    bottom: 10px;
  }
  .cap {
    position: absolute;
    top: 130px;
  }
}

* {
  box-sizing: border-box;
}

.navbar {
  transition: all 0.4s ease-in-out;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #28282b;  
}

.head {
  min-height: 100vh;
}

.header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: all 0.4s ease-in-out;
  width:100%;
  position:fixed;
  top:0px;
}

.nav-link {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.nav-link:hover {
  background: aquamarine;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.nav-link-active {
  background: aquamarine;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar {
  background-color: transparent;
}

.bg {
  background:linear-gradient(90deg, rgba(6, 12, 34, 0.8) -24.3%, rgba(6, 12, 34, 0.8) -11.13%, rgba(6, 12, 34, 0.8) 57.24%), rgba(6, 12, 34, 0.8) url("./iitd.jpg") no-repeat fixed;

  background-size: cover;
  min-height: 100vh;
  /* position: relative; */
  font-family: "Montserrat", sans-serif;
  /* background-color: #141414; */
}


#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  /* padding: 90px 10px; */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.navbar-toggler {
  box-shadow: none;
  border: none;
}
.dbutton {
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.dbutton:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -1px) scale(1.04);
  transform: translate(0px, -1px) scale(1.04);
}

.applybox {
  animation: fadeInLeft;
  animation-duration: 1.5s;
}

.cap {
  animation: fadeInLeft;
  animation-duration: 1.5s;
}

.gradient-white {
  /* font-size: 72px; */
  background: linear-gradient(to right,#c5c5c5, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-yellow {
  /* font-size: 72px; */
  background: linear-gradient(to right,rgb(245, 176, 65), rgba(245, 176, 65, 0.658));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(245, 176, 65)
}



.logo {
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.logo:hover {
  -webkit-transform: translate(0px, -3px) scale(1.1);
  transform: translate(0px, -3px) scale(1.1);
}

.applybtn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  background-color: transparent;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid aquamarine;
}

.applybtn:hover {
  background: aquamarine;
  color: black;
}