@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

.navbar {
  transition: all 0.4s ease-in-out;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #28282b;
    
}

.head {
  min-height: 100vh;
  visibility: hidden;
}

.header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: none;
  width:100%;
  position:fixed;
  top:0px;
}

.nav-link {
  background: linear-gradient(to right,#c5c5c5, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.nav-link:hover {
  background: linear-gradient(to right,rgb(245, 176, 65), rgba(245, 176, 65, 0.658));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: transparent;
}

.bg {
  background: linear-gradient(90deg, #434343 -24.3%, #4d4d4d -11.13%, rgba(34, 34, 34, 0.7) 57.24%), rgba(0, 0, 0, 0.6) url("./iitd.jpg") no-repeat fixed;

  background-size: cover;
  min-height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.navbar-toggler {
  box-shadow: none;
  border: none;
}
.dbutton {
  display: inline-block;
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.dbutton:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -2px) scale(1.02);
  transform: translate(0px, -2px) scale(1.02);
}

.applybox {
  position: absolute;
  left: 5px;
  bottom: 50px;
}

.gradient-white {
  /* font-size: 72px; */
  background: linear-gradient(to right,#c5c5c5, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-yellow {
  /* font-size: 72px; */
  background: linear-gradient(to right,rgb(245, 176, 65), rgba(245, 176, 65, 0.658));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animU {
  display: block;
  animation: fadeInDown;
  animation-duration: 1.5s;
}

.animL {
  visibility: visible;
  animation: fadeInLeft;
  animation-duration: 1.5s;
}

.animL2 {
  visibility: visible;
  animation: fadeInLeft;
  animation-duration: 1.7s;
}