body {
    font-family: 'Merriweather';
    overflow-x: hidden;
    color: white;
}

section.section-show {
    opacity: 1;
}

section {
    overflow: hidden;
    width: 100%;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section .container {
    padding: 1rem;
    overflow-x: hidden;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #ffbe55;
    color: white;
    padding-left: 34px;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffbe55;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
}
.text-gradient {
    background: linear-gradient(to right,
        var(--primary-color),
        var(--white-color));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
.hrx hr {
    width: 20%;
    height: 0.3rem;
    border-radius: 50px;
    border: none;
    /* background-color: var(--primary-color); */
    background: linear-gradient(to right,
        var(--primary-color),
        var(--white-color));
    /* text-align: center; */
    margin: auto;
    margin-bottom: 2rem;
  }
  .row2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: auto;
    padding: 1rem ;
    overflow-x: hidden;
  }
.services .icon-box {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    transition: all ease-in-out 0.3s;
    /* border-radius: 3px; */
    /* padding: 60px 10px; */
    width: 98%;
    overflow-x: hidden;

    /*changes below made by Abhijeet*/
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height:300px;
    font-size:0.8rem;
    border-radius: 5px;
}
/* .services .icon-box:hover {
    background: rgba(0, 0, 0);
    border-color: #ffbe55;
    transform: translateY(-2.5px);
    box-shadow: 0px 0px 10px #fae5c3;
} */
.services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* background: #ffbe55; */
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}

.services .icon-box .icon i {
    color: aquamarine;
    font-size: 50px;
}

.services .icon-box h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 22px;
    color: #ffbe55;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 0;
    /*changes below made by Abhijeet*/
    font-family:var(--secondary-font);
}
