#formSec {
    display: flex;
    height: auto;
    padding: 6rem 2rem 2rem;
    background-color: #28282b;
    color:whitesmoke;
    font-family: 'Merriweather', serif;

}
body{
    margin:none;
    padding:none;
}



.formDiv {
    display: grid;
    place-items: center;
    /* max-width: 768px; */
    /* font-size: medium; */
    margin: auto;
}

select,
input {
    border-radius: 1rem;
    width: 60%;
    padding: 8px;
    /* size: 10px; */
}

fieldset {
    border:0px;
    text-align: center;
    display: inline-grid;
    width: 60vw;
    height: 5rem;
    padding: 20px;
} 

@media only screen and (max-width: 768px) {
    fieldset {
        max-width: 768px;
    }
}

.pure-group {
    display: grid;
    place-items: center;
    width: 60vw;
    height: 5rem;
    border: 0px;

}


#cc{
    width: 80px;
}

textarea{
    border-radius: 1rem;
    width: 60%;
    padding: 8px;
    overflow-y: hidden;
    height: 5em;
    resize: none;
    font-family: 'Arial', sans-serif;
}
.inner::-webkit-scrollbar {
    display: none;
  }

select:not(#cc){
    min-width: 170px;
}

.img {
    width: 200px;
    height: auto;
    border-radius: 1em 1em 0 0;
    position: relative;
}

.img__container {
    height: auto;
    overflow: hidden;
    margin-bottom: 1em;
}

.content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
    transform: scale(1.2, 1.1);
}

.formSub {
    margin: 1rem 0;
}

#sub {
    font-family: 'Merriweather', serif;
    width: 50%;
    color: white;
    background-color: green;
    border: 2px solid white;
}

#sub:hover {
    background-color: darkgreen;
    cursor: pointer;
}
