

.role__container {
  font-family: var(--base-font);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* align-items: flex-start; */
  /* outline: 2px solid blue; */
  padding: 1rem;
}
.role-card {
  background-color: #040404; 
  /* min-width: 100px;*/
  max-width: 270px;
  /* flex:1; */
  margin: 1rem;
  /* outline: 2px solid red; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  padding: 1rem;
  transition: 0.4s ease-in-out;
}
.role-card:hover {
  transform: scale(1.05);
}

.role-card img {
  /* margin-bottom: 1rem; */
  width: 5rem;
  /* height: 4rem; */
  object-fit: contain;
  border-radius:5px;
  box-shadow: -8px -8px 0 rgba(255,200,110,0.2);
  /* background: transparent; */
}
.role-card h3 {
  color: var(--primary-color);
  font-size: 2rem;
  margin:1.5rem 0;
}
.role-card p {
  /* background-color: #040404;  */
  font-family: var(--secondary-font);
  /* margin-top: 1rem; */
  color: var(--white-color);
  font-size: 0.8rem;
  line-height: 1.5rem;
  /* text-align: center; */
}
