@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --base-font: "Merriweather", serif;
  --secondary-font: "Poppins", sans-serif;
  --bgColor: #28282b;
  /* --head-text-color: #ed944d; */
  --primary-color: #f5b041;
  --white-color: #fdfbf9;
}

hr {
  width: 20%;
  height: 0.3rem;
  border-radius: 50px;
  border: none;
  /* background-color: var(--primary-color); */
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--white-color)
  );
  margin-bottom: 2rem;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bgColor);
  color: var(--white-color);
  /* outline: 2px solid white; */
}

.app__flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2.5rem;
  font-family: var(--base-font);
  /* color: var(--primary-color); testing */
  text-align: center;
  margin: 2.5rem 0 1rem 0;

}

.text-gradient{
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--white-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
